# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the specific user settings/history (Mac/Windows junk)
.DS_Store
Thumbs.db

# Ignore the Output folder (Don't upload your forensic images!)
outputs/

# Ignore ALL wildcard files by default
wildcards/*

# ...BUT, force git to keep the folder and include a Readme or Example
!wildcards/README_WILDCARDS.txt
!wildcards/example_colors.txt